jobs:
  complete_coveralls:
    needs: test-multi-python
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
  lint-multi-os:
    name: Lint ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          cache: pip
          python-version: 3.x
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install dependencies
        run: uv sync --python-preference only-managed --group lint
      - name: Lint with pre-commit
        run: uv run pre-commit run --all-files
      - name: Run docstrfmt
        run: uv run docstrfmt
      - name: Run pyright
        run: uv run pyright -p pyproject.toml
    strategy:
      matrix:
        os: [ macOS-latest, ubuntu-latest, windows-latest ]
  test-multi-os:
    env:
      PYTHONUTF8: 1
    name: Test ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install dependencies
        run: uv sync --group test
      - name: Test with pytest
        run: uv run pytest
    strategy:
      matrix:
        os: [ macOS-latest, ubuntu-latest, windows-latest ]
  test-multi-python:
    name: Test Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install dependencies
        run: uv sync --python-preference only-managed --group test --group ci
      - name: Test with pytest
        run: uv run coverage run --source docstrfmt -m pytest
      - env:
          COVERALLS_PARALLEL: true
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: Submit to coveralls
        run: uv run coveralls --service=github
      - name: Check coverage
        run: uv run coverage report -m --fail-under=100
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
name: CI
on: [ pull_request, push ]
